<!DOCTYPE html>
<html>
    <head>
        <title> register page </title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body style="background-image: url(../static/image/ass3.jpg);">
        <body style="background-position:100%;">
            
       
            <h1>welocome to register page</h1>
        <div class=reg><form action="login.html">
            
            <label>first name</label>
            <input type="text" placeholder="enter your first name" required><br><br>

            <label>last name</label>
            <input type="text" placeholder="enter your last name" required><br><br>

            <label>user name</label>
            <input type="text" placeholder="enter your user name" required><br><br>

            <label>password:</label>
            <input type="password" placeholder="enter your password" required><br><br>

            
            
            <input type="submit">
        </form></div>
        
    </body>
</html>
