<!DOCTYPE html>
<html>
 <head>
<link rel="stylesheet" href="../static/css/style.css">
<title>RESUME</title>
<title>Inserting Image</title>
</head>

    <body>
    <img src="../static/image/vivek.jpg" width="300px" height="300px">
        
    </body>
    <body>
    
<div id="header">
<h1 id="name">VIVEKANANDHAN G</h1>
         <a href="mailto:viveksurya485@gmail.com" target="_blank"><p id="email">viveksurya485@gmail.com</p></a>
         <p id="contact">9952570027</p>
     </div>
     <div class="left">
     </div>
     <div class="right">
            <h3>EVENTS</h3>
            <p>
            <ul>
                
                <li>Learnt basic Python, JavaScript, HTML, CSS on Udemy.com.</li>
                <li>An independent, dedicated, efficient person. These attributes are proved through the series of courses.</li>
                <li>Good Communication Skills, Presentation Skills, attitude towards leadership, authorisation.</li></ul>
            </p>
            <h3>INTERNSHIPS</h3>
            <h4 id="company-name">Worksbot applications Pvt Ltd</h4>
            <p id="job-title"><strong>Software developer(Internship)</strong></p>
            <p id="job-responsibilities">Full stack developer</p>
            <p>
                <h3>TECHNICAL SKILLS</h3>
            <ul>
                <li>Learnt basic Python, JavaScript, HTML, CSS</li>
                <li>Interact with our engineering team to get software issues and bugs resolved</li>
                <li>learn to design frameworks</li></ul>
            </p>
            <h3>Educational Qualifications</h3>
            <table>
                <tr id="heading">
                    <td>Qualification</td>
                    <td>Board</td>
                    <td>Percentage / Grades</td>
                    <td>Year</td>
                </tr>
                <tr>
                    <td>S.S.L.C</td>
                    <td>THRMS</td>
                    <td>96.8%</td>
                    <td>2015</td>
                </tr>
                <tr>
                    <td>H.S.C</td>
                    <td>THRMS</td>
                    <td>83%</td>
                    <td>2017</td>
                </tr>
                <tr>
                    <td>B.E(Bachelor of engineering)</td>
                    <td>JIT(Jansons Institute Of Technology)</td>
                    <td>CGPA(7.8)</td>
                    <td>2017-2021</td>
                </tr>
                
            </table>
            <h3>CERTIFICATIONS</h3>
            <p>
            <ul>
                <li>
                <span id="course-name">HTML & CSS for Beginners – Web Fundamentals</span> – Codecademy.com</li>
                <li>
                <span id="course-name">Python –complete python bootcamp:Zero-Hero Programming </span> - udemy.com</li>
                <li>
                <span id="course-name">IOT-Data management & analysis using kafka</span> - venama Institute of technology</li>
                <li>
                <span id="course-name">Learn to design own solar system</span> – Energy Swaraj Foundation</li>
                <li>
                <span id="course-name">Basics of C++ Programming </span> - Udemy.com</li>
                <li>
                <span id="course-name">Internship on "ETHICAL HACKING" </span> - LITZ Tech,coimbatore.</li>
            </ul>
                
            </p>
            
           <h3>Personal Information:</h3>
            <p>
            <ul>
                <li>
                <span id="course-name">Technical skills: </span>HTML,CSS,PYTHON,C++.</li>
                <li>
                <span id="course-name">Languages Known:</span>Tamil,English.</li>
                <li>
                <span id="course-name">Hobbies:</span>I love reading Finance and IT related books / magazines, playing Chess, swimming, listening music, surfing Internet, self-learning through e-courses.</li> </ul>
                
            </ul>
            </p>
            <h3>Declaration</h3>
            <p>
            I hereby declare that the details furnished above are true and correct to the best of my knowledge and belief.</p>
     </div>
     <div id="footer"></div>
    </body>
</html>